.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F1F1F1;
    padding: 9px 16px;
}

.naming{
    display: flex;
    align-items: center;
    gap:12px;
}

.reaction{
    display: flex;
    align-items: center;
    
    gap: 15px;
}

.bi-heart-fill{
    border-width: 0;
}